body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}
header {
    color: white;
    padding: 1rem 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #625596;
}
nav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 2.5rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 700px;
}
.social-links a {
    display: inline-block;
    margin: 30px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-links a:hover {
    background-color: #625596;
}
footer {
    color: #aaa;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}
